<div class="ap-multilang-box">
  	<div class="popup-title" data-toggle="dropdown">
  		<img src="data:image/gif;base64, R0lGODlhEAALANUAAGNjtvr6+vb29fHx8fxGRvkQEP15eatjSuNjSjx6+TV0+f2Kd+np6dvb2PxUVPx4YttjSvsrK5q7/PxlZrpjSvw6Oubm5e7u7sljSgR09Z1jSvT080iB+gBMtkF9+vofHwBpu/f39uLi3/syMtVjSqG+/C9y+Ozs7KLA/GNlwPyBbO3t6gNx5QArs/2XhpGRgKysn+z+/rS0qPR0XuXl/P7KwcnJwf39Wzh3+f7+/fv/+vHx7wNv4df+/f3h3GNnxCH5BAAAAAAALAAAAAAQAAsAAAaMwJ/wl0oBjqoHYgmB/HIoXSkgoQYCoawA9kNxOJ5EAmcyTByEiouUmnoEiYspMxhcTreNrR1OKOYgaBUjEQsYAAEJAwonLCIddwwMFj0yABI4fzwgHS2DER8fCwciAQIbG3aRkxYNPi8qNWZoaRGgBbgqGg0BMVqoqTsrNBYiM0sITU0kGBQUBwca0kEAOw==" /> 
      	<span>English</span>
  	</div>
  	<div class="dropdown-menu">
        <ul class="menu-multilang">
            <li class="list-lang">
                <ul>
                    <li class="item-lang"><a href="http://ap-dio.myshopify.com/?preview_theme_id="><img src="data:image/gif;base64, R0lGODlhEAALANUAAGNjtvr6+vb29fHx8fxGRvkQEP15eatjSuNjSjx6+TV0+f2Kd+np6dvb2PxUVPx4YttjSvsrK5q7/PxlZrpjSvw6Oubm5e7u7sljSgR09Z1jSvT080iB+gBMtkF9+vofHwBpu/f39uLi3/syMtVjSqG+/C9y+Ozs7KLA/GNlwPyBbO3t6gNx5QArs/2XhpGRgKysn+z+/rS0qPR0XuXl/P7KwcnJwf39Wzh3+f7+/fv/+vHx7wNv4df+/f3h3GNnxCH5BAAAAAAALAAAAAAQAAsAAAaMwJ/wl0oBjqoHYgmB/HIoXSkgoQYCoawA9kNxOJ5EAmcyTByEiouUmnoEiYspMxhcTreNrR1OKOYgaBUjEQsYAAEJAwonLCIddwwMFj0yABI4fzwgHS2DER8fCwciAQIbG3aRkxYNPi8qNWZoaRGgBbgqGg0BMVqoqTsrNBYiM0sITU0kGBQUBwca0kEAOw==" />English</a></li>
                    <li class="item-lang"><a href="http://ap-dio.myshopify.com/?preview_theme_id=140284102"><img src="data:image/gif;base64, R0lGODlhEAALANUAAKqqqpqv2fHx8e1kVsTS7Vd7xenp6vSIft7e3viVjNTU1NgAALTF57zL6WaHzOpqXe7u7qG13ebm5uTk5O52arLD5aa53vN+cvf396q94e4JAHKS0uQAAOpXSfFwZMHP68/Pz/BqXMYAAK+/48wAAOxuYvN3a+lmWutdT+hSQ+ZNPvT09Lu7uxdHpfj4+LfI5+xeUOzr60Rsu+Li4p+fn2+P0aa54LOwsK6/5CxXsK7A5Ojo6O3t7evr6+zs7HOV0yH5BAAAAAAALAAAAAAQAAsAAAaLwJ/wt0EgFAoQSKPhOH+E6MeFqa5WicThwIG+GBWer2cwSC4mz2Gx+YB1kN7YnA5dFrVPBZeB8GIGOxIeIQMUCw4NfDYCfjxkhTCHDi8ZFhGNY4IDKB0lJAUvlwEQmhITnSkPoBURAQE+gaczHSkqJyIyI5YRYrISJQ8nA7k5xi0sLDcAADQkJCLRQQA7" />Français</a></li>
                  	<li class="item-lang"><a href="http://ap-dio.myshopify.com/?preview_theme_id=140284102"><img src="data:image/gif;base64, R0lGODlhEAALANUAAPDcbqU/L/x1dfnrl6h9L7W1q6iGL/NHR5mLffWmVvayaZSUh6SkmWloaUpIOnhMS+0pKfblh518fHh4ePpmZvyyqfE8PJ13L/tsbPjlZfXhV0pKR+rTLO+SNu7YOoxlZfLcSPPgevKbRLOKL1hYWOuJJ/lgYLakL2k5OT8/OvZSUu8zM7q6sfdZWb1BMZuEL/zVpMq4r/KAcINbW+bNHeoeHmZJPOiCHe/gba2to5VycoCBgfvxopyckOjPIj8/LyH5BAAAAAAALAAAAAAQAAsAAAaHwI1j6Ej9jsikg8UsFHJQBqPXWyx+y91uMml4SaTNJoX42WISiU73+cwecBSq7KoIBBiKqaU6HCwrEDIBdXh6fH6AEIKEFXl7fX+BEDWDBDAKCgmbIiIdHSUlNwoBJzwZGRoaICAeHhwcPjQ4LycDtwMRuiG8AL4AFyPCIwQEBscvBBfKFxdBADs=" />Germany</a></li>
                </ul>
            </li>
        </ul>
  	</div>
</div>